.logoContainer {
  display: flex; align-items: center; justify-content: center;
  background: transparent;
  padding: clamp(0.1rem,1vw,0.4rem);
  border-radius: 50%;
  overflow: hidden; 
  position: relative;
  transform-style: preserve-3d;
  animation: slideIn 1s ease-out;
  transition: transform 0.4s, box-shadow 0.4s;
  top: -10px;
  left: -20px;
}

.logoImg {
  width: clamp(100px, 9vw, 120px);
  height: clamp(100px, 9vw, 120px);
  object-fit: cover; border-radius: 1rem;
  transition: transform 0.6s ease-in-out;
}

@keyframes slideIn {
  0% { transform: translateX(-200%) rotateZ(-10deg); }
  100% { transform: translateX(0) rotateZ(0); }
}
@media (max-width: 768px) {
  .logoImg { width: 80px; height: 80px; }
}
